[submodule "libs/BasicToolsLib"]
	path = libs/BasicToolsLib
	url = git@github.com:MickaelOnTheWave/BasicToolsLib.git
[submodule "libs/tgbot"]
	path = libs/tgbot
	url = git@github.com:reo7sp/tgbot-cpp.git
