[submodule "libs/tgbot"]
	path = libs/tgbot
	url = https://github.com/reo7sp/tgbot-cpp.git
[submodule "libs/QtToolsLib"]
	path = libs/QtToolsLib
	url = https://github.com/MickaelOnTheWave/QtToolsLib.git
[submodule "libs/BasicToolsLib"]
	path = libs/BasicToolsLib
	url = https://github.com/MickaelOnTheWave/BasicToolsLib.git
[submodule "libs/NetworkToolsLib"]
	path = libs/NetworkToolsLib
	url = https://github.com/MickaelOnTheWave/NetworkToolsLib.git
